<html>
  <head>
    <title>New app</title>
  </head>
  <body>
    <h1>
      Welcome to the new world
    </h1>
    <h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in nisi et arcu interdum fermentum. Nunc quis ante libero. Sed nunc tortor, euismod vitae varius et, aliquam in dolor. Nulla pellentesque lacus sit amet scelerisque consequat. In hac habitasse platea dictumst. Quisque sit amet sagittis leo. Donec non velit enim. Duis hendrerit velit vel nibh lobortis, sit amet gravida nisi vehicula. Etiam cursus, ipsum mollis imperdiet efficitur, nunc metus euismod elit, vitae vulputate sapien augue ac erat. Morbi eu tellus quis arcu mollis pulvinar. Phasellus a auctor urna. Donec convallis ante quis vehicula gravida. Donec blandit pellentesque diam, mattis fermentum nisi rhoncus eget. Proin sodales, augue ac luctus accumsan, orci massa sodales est, id interdum orci odio vitae nulla.

        Pellentesque laoreet arcu vel leo convallis, a dapibus metus porttitor. Phasellus tortor ex, consectetur ac enim a, elementum porta felis. Fusce suscipit nunc in urna aliquam scelerisque. Aliquam sagittis ullamcorper enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi vel sodales ante, id ultricies purus. In nisl libero, condimentum at lorem eget, consectetur luctus enim. Donec vehicula, nunc non dapibus faucibus, nunc neque consectetur mi, in suscipit purus felis sed dui.


      </p>
    </h2>
  </body>
</html>